<template>
  <div class="flex">
    <div class="container px-20 mx-auto">
      <hero />
      <!-- <fonts-list :fonts="fonts" /> -->
      <fonts-stack-list :fonts="fonts" />
      <v-footer />
    </div>
  </div>
</template>

<script>
// import FontsList from '../components/fonts-list'
import FontsStackList from '../components/fonts-stack-list.vue';
import Hero from '../components/hero.vue';
import VFooter from '../components/v-footer.vue';

export default {
  name: 'Home',
  components: {
    // FontsList,
    FontsStackList,
    Hero,
    VFooter
  },
  data() {
    return {
      fonts: [],
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData() {
      let url = `${this.$page.app.url}/api/fonts`
      if (process.env.NODE_ENV === 'production') {
        url = url.replace(/^http:\/\//i, 'https://');
      }
      console.log(url);
      let fonts = await this.$axios.get(url)

      this.fonts = fonts.data
    },
  },
}
</script>

<style scoped>
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }
</style>
