<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50">
                  Name
                </th>
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50">
                  Title
                </th>
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50">
                  From
                </th>
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-50">
                  Status
                </th>
              </tr>
            </thead>
            <tbody
              v-cloak
              class="bg-white divide-y divide-gray-200"
            >
              <font-cell
                v-for="(font, index) in fonts"
                :key="index"
                :font="font"
                :index="index"
              />
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FontCell from '../components/font-cell';
  export default {
    name: 'FontsStackList',
    components: {
      FontCell,
    },
    props: {
      fonts: {
        type: Array,
        default: () => []
      },
    },
  }
</script>

<style>
.v-collapse-content {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  padding: 0;
}
.v-collapse-content-end {
  transition: max-height 0.3s ease-in;
  max-height: 500px;
}
</style>
