<template>
  <tr
    :class="{'bg-gray-100': index % 2}"
  >
    <td
      class="px-6 py-4 text-2xl whitespace-no-wrap"
    >
      <div class="flex items-center">
        <div
          class="ml-4"
          :class="font.import"
        >
          <div class="font-medium leading-5 text-gray-900">
            {{ font.name }}
          </div>
        </div>
      </div>
    </td>
    <td
      class="w-1/3 px-6 py-4 text-lg"
      :class="font.import"
    >
      <div class="leading-5 text-gray-900">
        The quick brown fox jumps over the lazy dog
      </div>
      <div />
    </td>
    <td
      class="px-6 py-4 text-lg font-medium leading-5 whitespace-no-wrap"
      :class="font.import"
    >
      <div>
        {{ font.from }}
      </div>
    </td>
    <td class="flex px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap">
      <a
        :href="`storage/fonts/${font.file_path}`"
        class="block bg-green-500 hover:bg-green-600 btn"
      >
        <div class="w-6 h-6 my-auto text-white">
          <svg-vue
            icon="download"
            class="fill-current"
          />
        </div>
      </a>
      <button
        class="block bg-blue-500 btn hover:bg-blue-600"
        type="button"
        @click="showModal=true"
      >
        <div class="w-6 h-6 my-auto text-white">
          <svg-vue
            icon="search-plus"
            class="fill-current"
          />
        </div>
      </button>
      <t-modal
        v-model="showModal"
        :class="font.import"
        :header="font.name"
        class="leading-relaxed"
      >
        <div class="text-3xl">
          The quick brown fox jumps over the lazy dog
        </div>
        <div class="text-lg">
          {{ font.from }}
        </div>
        <div class="my-5 font-sans">
          <a
            :href="font.origin"
            target="_blank"
            rel="noopener noreferrer"
            class="block bg-red-500 w-14 h-14 btn hover:bg-red-600"
          >
            <div class="w-6 h-6 m-auto text-white">
              <svg-vue
                icon="map-marker-alt"
                class="fill-current"
              />
            </div>
          </a>
        </div>
        <template
          v-slot:footer
        >
          <div class="flex justify-between font-sans">
            <t-button type="button">
              Cancel
            </t-button>
            <t-button type="button">
              Ok
            </t-button>
          </div>
        </template>
      </t-modal>
      <!-- <a
        v-if="font.origin"
        :href="font.origin"
        class="bg-indigo-500 hover:bg-indigo-600 btn"
      >
        Origin
      </a>
      <a
        class="hidden bg-red-500 hover:bg-red-600 btn"
      >
        Copy
      </a> -->
    </td>
  </tr>
</template>

<script>
  export default {
    name: 'FontCell',
    props: {
      font: {
        type: Object,
        default: () => {}
      },
      index: {
        type: Number,
        default: 0
      }
    },
    data() {
      return {
        showModal: false
      }
    },
  }
</script>

<style>
.btn {
  @apply text-white transition-colors duration-300 p-3 mx-2 rounded-md;
}
.center-it {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
