<template>
  <div class="text-xl">
    <div
      v-for="(font, index) in fonts"
      :key="index"
      class="my-5"
      :class="{ 'bg-gray-100': currentFont === font }"
    >
      <v-collapse-wrapper>
        <div
          v-collapse-toggle
          :class="{ 'hover:bg-gray-200': currentFont !== font }"
          class="p-5 transition-colors duration-300 rounded-md cursor-pointer"
          @click="selectFont(font, index)"
        >
          <div
            class="text-5xl"
            :class="font.import"
          >
            {{ font.name }}
          </div>
          <div
            class="text-2xl"
            :class="font.import"
          >
            The quick brown fox jumps over the lazy dog
          </div>
          <div>
            <span
              v-if="font.from"
              :class="font.import"
            >
              Origin: {{ font.from }}
            </span>
            <span v-else>
              <br>
            </span>
          </div>
        </div>
        <div v-collapse-content>
          <div class="p-5">
            <div class="mb-8">
              <div v-if="font.from">
                From: <span :class="font.import">{{ font.from }}</span>
              </div>
            </div>
            <div>
              <pre
                v-highlightjs="importFont(font)"
              ><code class="css" /></pre>
            </div>
            <div class="mt-8 mb-5">
              <a
                class="bg-green-400 btn hover:bg-green-500"
                :href="`storage/fonts/${font.file_path}`"
              >
                Download
              </a>
              <a
                v-if="font.origin"
                :href="font.origin"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-blue-400 btn hover:bg-blue-500"
              >
                {{ getDomain(font.origin) }}
              </a>
              <span
                v-clipboard:copy="importFont(font)"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
                class="bg-red-400 cursor-pointer btn hover:bg-red-500"
              >
                Copy
              </span>
            </div>
          </div>
        </div>
      </v-collapse-wrapper>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FontsList',
  components: {},
  props: {
    fonts: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      currentFont: null,
    }
  },
  methods: {
    extractHostname(url) {
      var hostname
      //find & remove protocol (http, ftp, etc.) and get hostname

      if (url.indexOf('//') > -1) {
        hostname = url.split('/')[2]
      } else {
        hostname = url.split('/')[0]
      }

      //find & remove port number
      hostname = hostname.split(':')[0]
      //find & remove "?"
      hostname = hostname.split('?')[0]

      return hostname
    },
    getDomain(url) {
      let domain = 'google.fr'
      domain = this.extractHostname(url)
      return domain
    },
    onCopy: function (e) {
      // alert('You just copied: ' + e.text)
      this.$toasted.show('Copied', {
        icon: 'content_copy',
        theme: 'toasted-primary',
        position: 'bottom-right',
        duration: 2000,
      })
    },
    onError: function (e) {
      this.$toasted.show('Error on copy', {
        icon: 'error',
        theme: 'toasted-warning',
        position: 'bottom-right',
        duration: 2000,
      })
    },
    importFont(font) {
      let fileName = font.file_path.split('/')
      let importFont = `@font-face {
	font-family: '${font.name}';
	src: url("assets/fonts/${fileName[fileName.length - 1]}");
}
.font-name {
	font-family: '${font.name}';
}`
      return importFont
    },
    selectFont(font, index) {
      this.currentFont = font

      this.fonts.forEach((font, id) => {
        if (id === index) {
          font.active = true
        } else {
          font.active = false
        }
      })
    },
  },
}
</script>

<style scoped>
.v-collapse-content {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  padding: 0;
}
.v-collapse-content-end {
  transition: max-height 0.3s ease-in;
  max-height: 500px;
}
.btn {
  @apply px-4 py-3 mx-2 text-white transition-colors duration-300 rounded-md;
}
</style>
