<template>
  <section class="text-gray-700 body-font">
    <div class="container flex flex-col items-center justify-center px-5 py-24 mx-auto">
      <!-- <img
        class="object-cover object-center w-5/6 mb-10 rounded lg:w-2/6 md:w-3/6"
        alt="hero"
        src="https://dummyimage.com/720x600"
      > -->
      <div class="w-full text-center lg:w-2/3">
        <div class="flex mb-5">
          <div class="flex mx-auto">
            <div class="w-16 h-16 my-auto mr-5 text-black">
              <svg-vue
                icon="fonts-book"
                class="fill-current"
              />
            </div>
            <h1 class="my-auto text-5xl font-medium text-gray-900 font-dancing-script title-font">
              Fonts Book
            </h1>
          </div>
        </div>
        <p class="mb-8 leading-relaxed">
          Meggings kinfolk echo park stumptown DIY, kale chips beard jianbing tousled. Chambray dreamcatcher trust fund, kitsch vice godard disrupt ramps hexagon mustache umami snackwave tilde chillwave ugh. Pour-over meditation PBR&B pickled ennui celiac mlkshk freegan photo booth af fingerstache pitchfork.
        </p>
        <div class="flex justify-center">
          <button class="inline-flex px-6 py-2 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600">
            Button
          </button>
          <button class="inline-flex px-6 py-2 ml-4 text-lg text-gray-700 bg-gray-200 border-0 rounded focus:outline-none hover:bg-gray-300">
            Button
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Hero'
  }
</script>

<style lang="scss" scoped>

</style>
